language: node_js
node_js:
  - "10"

notifications:
    email:
        - daniel.j.dufour@gmail.com

install: npm install

before_script: cd data && bash setup_data.sh

script: npm run eslint && npm run test-all
